<h3 class='link'><img src="<%= asset_path "title/title.png" %>" /></h3>
<p class='questiontitle' ><%= @question.title  %></p>

<h3 class='link'><img src="<%= asset_path "title/question.png" %>" /></h3>
<p class='questionque' ><%= @question.que %></p>

<h3 class='link'><img src="<%= asset_path "title/answer.png" %>" /></h3>
<p></p>
<p class='questionans' ><%= @question.answer %></p>
