
<!-- 画像部分ランダムにしたい -->
<link rel='stylesheet' href='css/categoriesshow.css' type='text/css' media='all' />


<h2 class='link'><img src="<%= asset_path "title/categorylist.png" %>" /></h2>

<% @category.categories.each do |category| %>
<ul>
  <li class='link'>・<%= link_to category.name, category_questions_path(category), :class => 'link'  %></li>
</ul>
<% end %>


<!-- ▽side -->
<div id="sidecateshow">
  <h2><img src="<%= asset_path "t_rec.png" %>"/></h2>
  <dl>
    <dt><img src="<%= asset_path "sum1.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber1 %>", class="fev"><%=  @titlef1 %></a></p>
    </dd>
    <dt><img src="<%= asset_path "sum2.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber2 %>", class="fev"><%=  @titlef2 %></a></p>
    </dd>
    <dt><img src="<%= asset_path "sum3.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber3 %>", class="fev"><%=  @titlef3 %></a></p>
    </dd>
    <dt><img src="<%= asset_path "sum4.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber4 %>", class="fev"><%=  @titlef4 %></a></p>
    </dd>
    <dt><img src="<%= asset_path "sum5.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber5 %>", class="fev"><%=  @titlef5 %></a></p>
    </dd>
    <dt><img src="<%= asset_path "sum1.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber6 %>", class="fev"><%=  @titlef6 %></a></p>
    </dd>
    <dt><img src="<%= asset_path "sum2.jpg" %>"/></dt>
    <dd>
      <p><a href="/questions/<%= @nuber7 %>", class="fev"><%=  @titlef7 %></a></p>
    </dd>
  </dl>
</div>
<!-- ▲side -->
