<!DOCTYPE html>
<html>
<head>
  <title>Manetech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if user_signed_in? %>
  <li class="entry_button" style="float: right">
    <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
  </li>
  <li class="entry_button" style="float: right">
    <a href="/users/<%= current_user.id %>">マイページ</a>
  </li>
  <% else %>
  <li><%= link_to "サインイン", '/users/sign_in' %></li>
  <% end %>
<%= yield %>

</body>
</html>
