<!DOCTYPE html>
<html>
<head>
  <title>Manetech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <ul id="normal" class="dropmenu">
    <li><%= link_to 'トップページ', '/categories' %>
    </li>
    <li><a href="#">カテゴリー</a>
      <ul>
        <!-- eachを使用してカテゴリーを表示 -->
        <li><a href="#">submenu</a></li>
        <li><a href="#">submenu</a></li>
        <li><a href="#">submenu</a></li>
      </ul>
    </li>
    <li><a href="#">コンテンツ（名称未定）</a></li>
    <li><%= link_to '検索', '/search' %>
    </li>
    <% if user_signed_in? %>
    <li><a>アカウントメニュー</a>
    <ul>
    <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
    <% else %>
    <li><%= link_to "ログイン", '/users/sign_in' %></li>
    <% end %>
  </li>

</head>

<body>


<%= yield %>


<p>フェイスブックとツイッターのリンク先</p>

</body>
<footer>
<li>About us</li>
<li>eachを使用してカテゴリー別リンク先を表示</li>
<li>利用規約のリンク先</li>
<li>特定商取引法に基づく表記</li>
<p>Copyright © MANATECH運営局 All Rights Reserved</p>
</footer>
</html>
